#external-site {
	border: 1px #b4b4b4 solid;
	padding: 30px;
	background: image-url('background/back-dot-02.png');

	ul {
		@include fz(15);
		margin: 0;
		padding-left: 22px;
	}
	a {
		color: #e197a0;
	}
}
.external-site-title {
	@include fz(18);
	margin-bottom: 10px;
}
