.entry-content {
	margin-top: 10px;
	padding: 0 10px;

	a {
		color: $color__link-entry-content;
	}

	.iframe-wrapper {
		display: block;
	}
	.thumbnail {
		width: 110px;
		@include fz( 12 );
		text-align: center;
		margin: 0 15px 5px 0;
		float: left;

		img {
			margin-bottom: 5px;
			border: $color__border-entry-content-thumbnail;
			display: block;
		}
		a {
			color: $color__link-entry-content;
			text-decoration: none;
		}
	}
	.summary_the_content {
		overflow: hidden;
	}
	blockquote {
		padding:10px;
		background: $color__background-entry-content-blockquote;
		margin-bottom:1em;

		p {
			padding:10px;
			margin-bottom: 0;
		}
	}
}

