.entry-content {
	margin-top: 10px;
	padding: 0 10px;

	a {
		color: $color__link-entry-content;
	}

	.iframe-wrapper {
		display: block;
	}
	.thumbnail {
		width: 110px;
		@include fz( 12 );
		text-align: center;
		margin: 0 15px 5px 0;
		float: left;

		img {
			margin-bottom: 5px;
			border: $color__border-entry-content-thumbnail;
			display: block;
		}
		a {
			color: $color__link-entry-content;
			text-decoration: none;
		}
	}
	.summary_the_content {
		overflow: hidden;
	}
	blockquote {
		margin-right: 0;
		margin-left: 0;
		padding: 20px 60px;
		background: $color__background-entry-content-blockquote;
		margin-bottom:1em;
		position: relative;
		&:before, &:after {
			font-family: 'FontAwesome';
			color: #c0baa4;
			font-size: 32px;
			position: absolute;
		}
		&:before {
			content: '\f10d';
			left: 15px;
			top: 15px;
		}
		&:after {
			content: '\f10e';
			right: 15px;
			top: 15px;
		}

		p {
			margin-bottom: 0;
		}
	}
}

