// common
.entry-meta,
.posted-in-media,
.entry-meta .author {
	a {
		color: $color__link-entry-meta-mobile;
	}
}

// single-article
.single-article {

	.media-box {
		padding: 10px 10px 0;
		@extend %clearfix;
	}
	.posted-in-media {
		color: $color__text-posted-in-media;
		margin-bottom: 0;
		display: inline-block;
		float: left;

		a {
			color: $color__text-posted-in-media;
		}
	}
	.media-logo {
		max-width: 120px;
		margin-bottom: 0;
		display: inline-block;
		float: right;
	}
	.entry-title {
		@include fz( 22 );
		color: $color__text-entry-title-mobile;
		margin: 10px 0 0;
		padding: 10px;
		background: $color__background-entry-title-mobile;
		clear: both;

		a {
			color: $color__text-entry-title-mobile;
		}
	}
	.entry-meta {
		@include fz( 12 );
		color: $color__text-entry-meta-mobile;
		margin: 8px 0 0;
		padding: 0 10px;
		@extend %clearfix;
		clear: both;
		p {
			margin: 0 10px 0 0;
			display: inline-block;
			float: left;
			&.pr {
				@include border-radius(3px);
				float: right;
				margin-right: 0;
				background: $color__background-entry-meta-pr;
				color: $color__text-entry-meta-pr;
				width: 60px;
				padding: 2px;
				text-align: center;
			}
		}
	}
}

// .social-entry-box
.social-entry-box {
	margin: 10px 10px 0px 10px;
	padding: 8px 10px;
	background: $color__background-social-entry-box;
	@extend %clearfix;

	p {
		@include fz(21);
		line-height: 1;
		margin: 0 10px 0 0;
		border-right: 1px $color__border-social-entry-box solid;
		padding: 0 10px 0 0;
		display: inline-block;

		i {
			vertical-align: text-bottom;
			margin-right: 5px;
		}
		span {
			@include fz(16);
		}
		&.twitter-button {

			i {
				color: #55acee;
			}
		}
		&.facebook-button {

			i {
				color: #3b5999;
			}
		}
		&.line {

			i {
				color: #00c300;
				margin-bottom: 1px;
			}
		}
		&.hatena-button {

			i {
				color: #00a4de;
				margin-bottom: 1px;
			}
		}
	}
}
// #more-link-box
#more-link-box {
	margin-bottom: 0;
	clear: both;

	a {
		width: 250px;
		color: $color__link-more-link-box;
		text-decoration: none;
		text-align: center;
		margin: 0 auto;
		@include border-radius(8px);
		padding: 9px 0;
		background: $color__background-more-link-box;
		display: block;
	}
}

// #single-nav
#single-nav {
	text-align: center;
	margin: 0 10px;
	background: $color__common-background;
	clear:both;
	@extend %clearfix;

	p {
		width: 32%;
		margin: 6px 0 0 2%;
		float: left;

		&:first-child {
			margin-left: 0;
		}
		&.nav-previous {

			i {
				margin-right: 5px;
			}
		}
		&.nav-next {

			i {
				margin: 0 0 0 5px;
			}
		}
	}
	a {
		color: $color__link-single-nav;
		text-decoration: none;
		@include border-radius(8px);
		padding: 9px 0;
		background: $color__background-single-nav;
		display: block;
	}
}
