extends ../extends/_layout

block vars
	- var sitename = 'sitename';
	- var title    = 'description';
	- var type     = 'home';

//- scripts
block append wp_head

block append before_body

block append before_page

block append after_header

block append header_content

block append before_content

block append wp_footer
	script.
		(function($) {
			// Common
			wpjsonRoot();
			
			// HOME
			var lpath    = location.hash.split("/");
			var lpathend = lpath[lpath.length-1];
			if ( lpathend === '' ) {
				lpath.pop();
			}
			var page    = lpath[lpath.length-2];
			var pagenum = "";
			if ( page == 'page' ) {
				pagenum     = lpathend;
			}
			$(window).load( function() {
				// ハッシュ変更時に実行する関数を登録
				HashObserve.addFunc(function(now_hash, prev_hash){
					pagenum = "";
					var hashobj  = location.hash.split("/");
					if ( hashobj.length > 1 ) {
						pagenum	 = hashobj[2];
					}
					if ( now_hash !== prev_hash ) {
						wpjsonPosts( '', '', '', pagenum, true );
						wpjsonHome( '', pagenum );
					}
				});
				
				// 監視を開始
				setInterval(HashObserve.observe, 1000/30);
			});
			wpjsonPosts( '', '', '', pagenum, true );
			wpjsonHome( '', pagenum );
			wpjsonWidgets( 'sidebar-pc-home' );
		})(jQuery);

//- main content
block main

	//- What’s New
	header.archive-header
		h1.archive-title: span What’s New
	#post-box
		include ../includes/_loader

block main_bottom
	nav#archive-nav
