extends ../extends/_layout

block vars
	- var sitename = 'Media Blogger';
	- var title    = 'post';
	- var type     = 'single';
	- var post     = 'post';

//- scripts
block append wp_head

block append before_body

block append before_page

block append after_header

block append header_content

block append before_content

block append wp_footer
	script.
		(function($) {
			// Common
			wpjsonRoot();
			wpjsonWidgets( 'sidebar-pc' );
	      
			// post
			$(window).load( function() {
				// ハッシュ変更時に実行する関数を登録
				HashObserve.addFunc(function(now_hash, prev_hash){
					if ( now_hash !== prev_hash ) {
						// post
						var hashobj  = location.hash.split("/");
						var id	 = hashobj[1];
						wpjson( 'post', 'posts', '/'+id );
					}
				});
				
				// 監視を開始
				setInterval(HashObserve.observe, 1000/30);
			});
			var lpath    = location.pathname.split("/");
			var lpathend = lpath[lpath.length-1];
			if ( lpathend === '' ) {
				lpath.pop();
			}
			var id = lpath[lpath.length-1];
		
		})(jQuery);

//- main content
block main

	article.post.hentry.single-article
		header.entry-header
			h1.entry-title
			include ../includes/_social-entry-box
			include ../includes/_entry-meta

		section.entry-content
			#entry-box
				include ../includes/_loader

		footer.entry-footer
			include ../includes/_social-share-box

	#single-nav-box
	#related-post-box
	#single-ads
	#pickup-post-box

block main_bottom

