.widget {
	width: 300px;
	margin-top: 20px;
	padding: 25px 20px;
	@extend %dropshadow-box;

	&:first-child {
		margin-top: 0;
	}
	select {
		max-width: 100%;
	}
	
	ul {
		padding-left: 1.5em;
		margin-bottom: 0;
	}
}

.widget-title {
	@extend %title-type;
}

// search
.widget_search {
	.search-field {
		width: 160px;
	}
	.search-submit {
		width: 85px;
		padding-top: 6px;
	}
}

// calendar
.widget_calendar {
	table {
		width: 100%;
	}
	td, th {
		text-align: center;
	}
	td#prev {
		text-align: left;
	}
	td#next {
		text-align: right;
	}
}

.widget.widget-induction {

	ul {
		@extend %ul;
	}
	li {
		margin-bottom: 10px;
		padding-bottom: 10px;
		@extend %hr-border-bottom;

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		.title {
			@include fz(14);
			font-weight: normal;
		}
		a {
			text-decoration: none;

			&:hover {

				.content {

					p {
						background: $color__link-entry-title-hover-background;
					}
				}
			}
		}
		&.thumbnail-true {

			a {
				overflow: hidden;
				display: block;
				@extend %clearfix;
			}
			.title {
				width: 100%;
				margin: 0 -110px 0 0;
				padding: 0 110px 0 0;
				float: right;
			}
			.thumbnail {
				width: 100px;
				margin: 0;
				float: left;

				img {
					display: block;
				}
			}
		}
	}
}
.widget.writer-list{
	@include fz( 15 );

	ul {
		@extend %ul;
	}
	li {
		margin-bottom: 10px;
		padding-bottom: 10px;
		@extend %hr-border-bottom;

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		a {
			overflow: hidden;
			display: block;
			@extend %clearfix;

			span {
				text-decoration: underline;
			}
			&:hover {

				span {
					background: $color__link-entry-title-hover-background;
				}
			}
		}
		.author-data {
			width: 100%;
			margin: 0 -80px 0 0;
			padding: 0 80px 0 0;
			float: right;
		}
		.author-name {
			font-weight: bold;
			margin-bottom: 0;
		}
		.author-desc {
			margin-bottom: 0;
		}
		.thumbnail {
			width: 70px;
			margin: 0;
			float: left;

			img {
				display: block;
			}
		}
	}
}

.widget-ranking {

	#ranking-nav {
		margin-bottom: 15px;
		@extend %clearfix;

		p {
			width: 50%;
			font-family: 'Oswald';
			@include fz( 16 );
			color: $color__text-ranking-nav;
			text-align: center;
			margin: 0;
			background: $color__background-ranking-nav;
			float: left;

			&.current {
				background: $color__background-ranking-nav-current;
			}
		}
	}
	ol {
		@extend %ul;
		display: none;

		&.current {
			display: block;
		}
	}
	li {
		margin-bottom: 15px;
		padding: 3px 0 3px 29px;
		position: relative;

		&:before {
			width: 22px;
			text-align: center;
			font-family: 'Open Sans';
			margin-right: 0;
			color: $color__text-ranking-number;
			background: $color__background-ranking-number;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
		&.ranking-1,
		&.ranking-2,
		&.ranking-3 {

			&:before {
				background: $color__background-ranking-number-top;
			}
		}

	}
	@for $i from 0 through 10 {

		.ranking-#{$i + 1} {

			&:before {
				content: '#{$i + 1}';
			}
		}
	}
}

.widget-mad {
	background: none;
	border: none;
	padding: 0;
	@include box-shadow( none );
}

