#external-site {
	margin: 40px 10px;
	border: 1px solid $color__common-border;
	padding: 10px;
	background: $color__background-external-site;

	ul {
		@include fz(15);
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a {
		color: $color__link-external-site;
	}
	i {
		vertical-align: middle;
	}
}
.external-site-title {
	@include fz(18);
	margin-bottom: 10px;
}
