#pickup-box {
	padding-top: 25px;
	background: $color__common-background;

	ul {
		@extend %ul;
	}
	li {
		margin-top: 1px;

		.title {
			@include fz(14);
			color: $color__text-pickup-box-title;
			margin: 0;
			padding-left: 10px;

			p {
				margin: 0;
			}
		}
		&:first-child {
			margin-top: 0;
		}
		&.thumbnail-true {

			a {
				overflow: hidden;
				display: block;
				@extend %clearfix;
			}
			.title {
				width: 100%;
				margin: 0 0 0 -107px;
				padding: 0 0 0 117px;
				float: left;
			}
			.thumbnail {
				width: 95px;
				margin: 0;
				float: right;

				img {
					display: block;
				}
			}
		}
	}
}
