#whats-new-post {
	padding: 25px 0 0 0;
}
#post-box,
#entry-box,
.postsContents {
	position: relative;
	min-height: 100px;
}
.loading {
	color: #999;
	text-align: center;
	position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	margin: auto;
	width: 200px;
	height: 100px
}