extends ../extends/_layout_mobile

block vars
	- var sitename = 'お金と知識でステキなママライフをサポート';
	- var title    = 'Media Blogger';
	- var type     = 'home';

//- scripts
block append wp_head

block append before_body

block append before_page

block append after_header

block append header_content

block append before_content

block append wp_footer
	script.
		(function($) {
			// Common
			wpjsonRoot( 'mobile' );
			
			// HOME
			var lpath    = location.hash.split("/");
			var lpathend = lpath[lpath.length-1];
			if ( lpathend === '' ) {
				lpath.pop();
			}
			var page    = lpath[lpath.length-2];
			var pagenum = "";
			if ( page == 'page' ) {
				pagenum     = lpathend;
			}
			$(window).load( function() {
				// ハッシュ変更時に実行する関数を登録
				HashObserve.addFunc(function(now_hash, prev_hash){
					pagenum = "";
					var hashobj  = location.hash.split("/");
					if ( hashobj.length > 1 ) {
						pagenum	 = hashobj[2];
					}
					if ( now_hash !== prev_hash ) {
						wpjsonPosts( '', '', '', pagenum, true );
						wpjsonHome( '', pagenum );
					}
				});
				
				// 監視を開始
				setInterval(HashObserve.observe, 1000/30);
			});
			wpjsonPosts( 'mobile', '', '', pagenum, true );
			wpjsonHome( 'mobile', pagenum );
			wpjsonWidgets( 'sidebar-mobile' );
		})(jQuery);

//- main content
block main

	//- category-posts-tab
	#category-induction-box
	#post-box
		include ../includes/_loader
block main_bottom

	#mad-nav-top
	nav#archive-nav
