#page {}
#content {
	@extend %clearfix;

		background: $color__background-dropshadow-box;
}
#primary {
	padding-bottom: 25px;
}
#colophon {
	padding: 25px 0;
	background: $color__background-colophon-mobile;
}
