footer#colophon.site-footer(role="contentinfo")

	#in-footer
		#footer-site-meta
			p.footer-site-title: a.homelink(href="/", rel="home") #{sitename}

		//- health_footer_nav
		nav#footer-nav-box.footer-menu

		//- copyright-area
		#copyright-area
			p#copyright: small 
			p#license: strong 掲載の記事・写真・イラスト等のすべてのコンテンツの無断複写・転載を禁じます。
