footer#colophon.site-footer(role="contentinfo")

	#footer-search-box
		include _search_field

	#global-social-button-box.global-social-button-box

	//- health_footer_nav
	nav#footer-nav-box.footer-menu

	p#copyright: small 
