//- mad_mobile_common_header
#mad_mobile_common_header

header#masthead.site-header(role="banner")

	h1.site-title: a.homelink(href="/", rel="home") #{sitename}

	//- button-box
	#button-box

		p#search-button: a(htref="#footer-search-box") 検索

	block after_header

block header_content
