nav#khm-15
	ul
		li.home: span(typeof="v:Breadcrumb"): a.home(rel="v:url", property="v:title", title="Go to HOME", href="/") #{sitename}
		if type == 'single'
			li.cat: span(typeof="v:Breadcrumb") .
		if type == 'error404'
			li.current_item: span(typeof="v:Breadcrumb"): span(property="v:title") 404
		else
			li.current_item: span(typeof="v:Breadcrumb"): span(property="v:title") .
