#social-share-box.social-share-box
	p.twitter-button
		a(href="#", target="_blank"): <i class="fa fa-twitter"></i>Twitterでつぶやく

	p.facebook-button
		a(href="#", target="_blank"): <i class="fa fa-facebook"></i>Facebookでシェア