#social-entry-box.social-entry-box
	p.twitter-button
		a(href="#", target="_blank"): i.fa.fa-twitter
		span.count.twitter-count(data-url="data-url") 0

	p.facebook-button
		a(href="#", target="_blank"): i.fa.fa-facebook-square
		span.count.facebook-count(data-url="data-url") 0

	p.line
		a(href="#", target="_blank"): i.webnist.webnist-line
