* {
	@include box-sizing( border-box );
}
html {
	font-size: 62.5%;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Arial, sans-serif;
}
body {
	@include hyphens( auto );
	color: #535353;
	background-color: white;
	background-image: image-url('background/back-dot-03.png');
	word-wrap: break-word;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table {
	margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}
i {
	margin-right: 5px;
}
