.mad {
	margin: 0;
}
.mad-halfway-box {
	margin-top: 20px;
	padding-bottom: 20px;
	@extend %hr-border-bottom;
	@extend %clearfix;

	.mad-halfway-left {
		width: 50%;
		float: left;
	}
	.mad-halfway-right {
		width: 50%;
		float: right;
	}
}
.mad-single-box {
	margin-top: 20px;
	margin-bottom: 20px;
	@extend %clearfix;

	.mad-single-left {
		width: 50%;
		float: left;
	}
	.mad-single-right {
		width: 50%;
		float: right;
	}
}
.mad-before-footer {
	clear: both;
	margin-top: 50px;
}