#carousel-box,
#editor-choice-box {
	padding: 20px 0;
	@extend %dropshadow-box;
	position: relative;
}

#editor-choice-box {
	.widget-title {
		margin: 0 30px 20px;
	}
}

#carousel,
#editor-choice {
	height: 70px;
	overflow: hidden;
	@extend %ul;
	@extend %clearfix;

	p {
		margin: 0;
	}
	li {
		width: 273px;
		float: left;
		@extend %clearfix;
	}
	.title {
		@include fz(14);
		font-weight: normal;
	}
	.thumbnail-true {

		.title {
			width: 100%;
			margin: 0 0 0 -100px;
			padding: 0 0 0 110px;
			float: left;
		}
		.thumbnail {
			width: 100px;
			float: left;

			img {
				display: block;
			}
		}
	}
}

.bx-controls-direction {

	a {
		width: 38px;
		height: 38px;
		text-align: center;
		margin-top: -19px;
		@include border-radius(19px);
		background: $color__background-bx-controls-direction;
		display: block;
		position: absolute;
		top: 50%;

		&.bx-prev {
			left: -19px;

			i {
				padding-right: 3px;
			}
		}
		&.bx-next {
			right: -19px;

			i {
				padding-left: 3px;
			}
		}
		i {
			color: $color__text-bx-controls-direction;
			@include fz(26);
			margin-right: 0;
			padding-top: 6px;
		}
	}
}
