#category-induction {
	width: 680px;
	margin: 0 auto 20px;
}
#category-induction-nav {
	position: relative;
	top: 1px;
	@extend %clearfix;

	ul {
		width: 100%;
		@extend %ul;
		@extend %clearfix;
	}
	li {
		text-align: center;
		float: left;

		span {
			margin: 0 0 0 3px;
			@include border-radius( 4px 4px 0 0 );
			border: 1px solid $color__common-border;
			padding: 4px 0;
			background: $color__background-category-induction-nav;
			color: $color__text-category-induction-nav;
			cursor: pointer;
			display: block;
		}
		&.current {

			span {
				border-bottom-color: #fff;
				color: $color__text-category-induction-nav-current !important;
				background-color: $color__background-category-induction-nav-current !important;
			}
		}
		&:first-child {

			span {
				margin-left: 0;
			}
		}
	}
}

.category-induction-content {
	margin: 0;
	padding: 30px;
	list-style: none;
	@extend %dropshadow-box;
	display: none;
	overflow: hidden;
	@extend %clearfix;

	&.current {
		display: block;
	}

	li {
		width: 100%;
		margin: 0 -186px 4px 0;
		padding: 0 186px 0 0;
		float: right;
		position: relative;

		&.first {
			width: 150px;
			margin: 0;
			padding: 0;
			float: left;

			.thumbnail {
				margin-bottom: 10px;

				img {
					border: $color__border-entry-content-thumbnail;
					display: block;
				}
			}
			.title {
				margin: 0;
				display: inline;
			}
		}
		a {
			text-decoration: none;

			&:hover {
				background: $color__link-entry-title-hover-background;

				.title {
					background: $color__link-entry-title-hover-background;
				}
			}
		}
		i {
			@include fz( 17 );
			color: $color__text-category-induction-content-arrow;
			position: absolute;
			top: 4px;
			left: -12px;
		}
	}
}