#global-nav-box {
// 	border-top: 1px #f4f4f4 solid;
	background: #78aeb6;
	@extend %dropshadow-01;
}
#global-nav-box ul {
	width: 100%;
	@extend %ul;
	@extend %clearfix;
	display: table;

	li {
		@include fz( 15 );
		text-align: center;
		display: table-cell;
		//float: left;
	}
	a {
		line-height: 1;
		color: #fff;
		padding: 17px 0;
		background: #78aeb6;
		display: block;
		position: relative;

		&:before {
			height: 15px;
			border-left: 1px #fff solid;
			content: '';
			position: absolute;
			left: -1px;
		}
/*
		&:after {
			width: 0;
			height: 0;
			margin-left: -9px;
			border-style: solid;
			border-width: 8px 9px 0 9px;
			border-color: #c0c0c0 transparent transparent transparent;
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			left: 50%;
		}
*/
		&:hover {
			background: #9fc5cc;

			&:after {
				border-color: #fff transparent transparent transparent;
			}
		}
	}
	li:first-child {

		a {

			&:before {
				display: none;
			}
		}
	}
	.current-menu-item {

		a {
			background: #9fc5cc;

/*
			&:after {
				border-color: #fff transparent transparent transparent;
			}
*/
		}
	}
}