a {
	color: $color__link;
	text-decoration: none;
}
#khm-15 {

	a {
		color: $color__link-khm-15;
	}
}
.entry-title {

	.home &,
	.archive &,
	.search &,
	#whats-new-box & {

		a {
			color: $color__link-entry-title;

			&:hover {
				background: $color__link-entry-title-hover-background;
			}
		}
	}
}
.entry-meta {

	a {
		color: $color__link-entry-meta;

		&:hover {
			color: $color__link-entry-meta-hover;
		}
	}
}
.posted-in-media,
.author {

	a {
		color: $color__link-author;
	}
}
.entry-content {

	a {
		color: $color__link-entry-content;

		&:hover {
			text-decoration: underline;
		}
	}
}
