#pickup-box {
	margin-top: 20px;
}
#pickup {
	@extend %ul;
	@extend %clearfix;

	li {
		width: 193px;
		margin-left: 19px;
		float: left;

		&:first-child {
			margin-left: 0;
		}
	}
	.title {
		@include fz(14);
		font-weight: normal;
	}
	.thumbnail {

		img {
			display: block;
		}
	}
}
.error404 {

	#pickup-box {
		padding: 25px 30px;
		@extend %dropshadow-box;
	}
}