#related-post {
	margin-top: 20px;
	padding: 25px 0;
	@extend %dropshadow-box;

	ul {
		@extend %ul;
		@extend %clearfix;

		li {
			width: 300px;
			min-height: 71px;
			margin-bottom: 10px;
			@extend %hr-border-bottom;
			padding-bottom: 10px;
			float: left;

			&:nth-child(2n) {
				float: right;
				margin-left: 0;
			}
			.title {
				@include fz(14);
				font-weight: normal;
			}
			&.thumbnail-true {
				overflow: hidden;
				@extend %clearfix;

				.title {
					width: 100%;
					margin-left: -100px;
					padding-left: 100px;
					float: right;
				}
				.thumbnail {
					width: 100px;
					margin: 0;
					float: left;

					img {
						display: block;
					}
				}
			}
		}
	}
}
