#slide-box {
	height: 350px;
	overflow: hidden;
	background: $color__background-slide-box;
	position: relative;
}
#slide {
	color: $color__text-slide;
	@extend %ul;

	a {
		color: $color__text-slide;
	}
	li {
		@extend %clearfix;
		background: $color__background-slide;
	}
	.slide-content {
		width: 298px;
		padding: 40px 30px 0;
		float: right;
	}
	.thumbnail {
		width: 700px;
		background: $color__background-slide-thumbnail;
		float: left;

		img {
			display: block;
		}
	}
}
.loading {
	color: #999;
	text-align: center;
	position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	margin: auto;
	width: 200px;
	height: 100px
}