.not-found {

	.entry-title {
		@include fz( 32 );
		color: $color__text-entry-title;
		@extend %hr-border-bottom;
		padding-bottom: 15px;
		clear: both;
	}

	@extend %search-form-set;
	.search-form {
		margin-top: 20px;
	}
}