.entry-content {
	@extend %clearfix;

	a {
		color: $color__link-entry-content;

		&:hover {
			text-decoration: underline;
		}
	}

	.thumbnail {
		width: 220px;
		@include fz( 12 );
		text-align: center;
		margin: 0 30px 5px 0;
		float: left;

		img {
			margin-bottom: 5px;
			border: $color__border-entry-content-thumbnail;
			display: block;
		}
		a {
			color: $color__link-entry-content;
			text-decoration: none;
			&:hover {
				text-decoration: underline;

				img {
					@include opacity(.5);
				}
			}
		}
	}
	.summary_the_content {
		overflow: hidden;
	}

	blockquote {
		margin-right: 0;
		margin-left: 0;
		padding: 30px 80px;
		background: $color__background-entry-content-blockquote;
		margin-bottom: 1em;
		position: relative;
		&:before, &:after {
			font-family: 'FontAwesome';
			color: #c0baa4;
			font-size: 32px;
			position: absolute;
		}
		&:before {
			content: '\f10d';
			left: 30px;
			top: 20px;
		}
		&:after {
			content: '\f10e';
			right: 30px;
			top: 20px;
		}

		p {
			margin-bottom: 0;
		}
	}
}

