#global-nav-box {
	@extend %dropshadow-box;
	border: none;
	background: $color__background-global-nav-box;
}
#global-nav-box > ul {
	width: 100%;
	@extend %ul;
	@extend %clearfix;

	li {
		text-align: center;
		float: left;
		border-left: 1px solid $color__border-global-nav-box;
		@include box-sizing( border-box );
		position: relative;
		&:first-child {
			border-left: none;
		}
	}
	a {
		line-height: 1;
		color: $color__text-global-nav-box;
		padding: 17px 0;
		background: $color__background-global-nav-box;
		display: block;

		&:hover {
			background: $color__background-global-nav-box-hover;
		}
	}
	.current-menu-item {

		a {
			background: $color__background-global-nav-box-current;
		}
	}
	ul {
		@extend %ul;
		display: none;
		background: $color__background-global-nav-box-secondary;
		float: left;
		position: absolute;
		top: 49px;
		left: 0;
		z-index: 99999;
		width: 200px;
		li {
			text-align: left;
			float: none;
			border-left: 1px solid $color__border-global-nav-box;
			&:first-child {
				border-left: none;
			}
		}
		a {
			padding: 10px 20px;
			background: transparent;
			&:hover {
				text-decoration: underline;
			}
		}
		ul {
			left: 200px;
			top: 0;
		}
	}

	> li:hover {
		> ul {
			display: block;
		}
	}
}
