#khm-15 {
	a {
		color: $color__link-khm-15-pc;
	}

	ul {
		@extend %ul;
		@include fz( 11 );
	}
	li {
		color: $color__text-khm-15-pc;
		margin-right: 5px;
		display: inline-block;

		&:after {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin-left: 10px;
			content: "\f105";
		}

		&.current_item {

			&:after {
				display: none;
			}
		}
	}
}
