#media-nav-box {
	padding: 5px 20px;
	background: $color__background-media-nav-box;
	@extend %clearfix;
}
#media-nav-box ul {
	@extend %ul;
	float: left;

	li {
		display: inline-block;

		a {
			border-left: 1px solid $color__border-media-nav-box;
			padding: 0 15px;
		}
		&:first-child {

			a {
				border-left: none;
			}
		}
	}
}
#media-nav-box {
	@extend %search-form-set;
	.search-form  {
		float: right;
		background: white;
		padding: 3px 10px;
	}
}
