#category-posts-tab {
	display: block;

	nav {
		position: relative;
		overflow: hidden;
		padding: 0;
		display: block;
	}
	ul {
		position: relative;
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
		background: #c8cc2e;
		color: white;
		@extend %clearfix;
	}
	li {
		width: auto;
		text-align: center;
		margin-left: 10px;
		border-bottom: 3px solid #fff;
		padding: 11px 15px;
		float: left;

		&:first-child {
			margin-left: 0;
		}
	}
	#current-bar {
		height: 3px;
		background: #f8fb77;
		position: absolute;
		bottom: 0;
	}
	& > div {
		width: 100%;
		margin-top: 5px;
		position: relative;

		& > div {
			width: 100%;
			position: absolute;
			background: #fff;
			top: 0;
		}
	}
}
