* {
	@include box-sizing( border-box );
}
html {
	font-size: 62.5%;
	font-family: $font__main;
}
body {
	@include hyphens( auto );
	color: $color__body-text;
	background: $color__body-background;
	word-wrap: break-word;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table {
	margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}
i {
	margin-right: 5px;
}
