%clearfix {
	&:after {
		display: table;
		clear: both;
		content: "";
	}
}

%ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

%title-type {
	font-family: 'Asap';
	font-weight: bold;
	@include fz( 30 );
	line-height: 1;
	padding-bottom: 24px;
	color: $color__text-title-type;
	background: $color__background-title-type;

	&:first-letter {
		color: $color__text-title-type-first;
	}
	span {
		background: $color__background-title-type-span;
	}
}
%title-type-mob {
	font-family: 'Asap';
	font-weight: bold;
	@include fz( 23 );
	line-height: 1;
	padding: 10px;
	color: $color__text-title-type-mob;
	background: $color__background-title-type-mob;
	margin-bottom: 11px;

}

%dropshadow-box {
	background: $color__background-dropshadow-box;
	border-top: 1px solid $color__border-dropshadow-box;
	@include box-shadow;
}
%dropshadow-reset {
	@include box-shadow( none );
}
%hr-border-bottom {
	border-bottom: 1px $style__border-hr-border-bottom $color__border-hr-border-bottom;
}

%dlbtn {
	@include border-radius(5px);
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: $color__text-dlbtn;
	background-color: $color__background-dlbtn;
	width: 405px;
	padding: 10px;
}

%search-form-set {
	.search-form {
		padding: 6px 25px;
		background: $color__background-404-search-form-pc;
		display: inline-block;
		@extend %clearfix;
	}
	.search-field {
		outline: none;
		border: none;
		padding: 0;
		background: none;
	}
	.search-submit {
		width: 16px;
		height: 16px;
		@include fz( 17 );
		outline: none;
		margin: 0;
		border: none;
		padding: 0;
		background: none;
		overflow: hidden;
		line-height: 1;
	}
}
