%clearfix {
	&:after {
		display: table;
		clear: both;
		content: "";
	}
}

%ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

%title-type {
	font-family: 'Oswald';
	font-weight: normal;
	@include fz( 26 );
	line-height: 1;
	color: $color__text-title-type;
	background: $color__background-title-type;

	&:first-letter {
		color: $color__text-title-type-first;
	}
	span {
		padding-right: 24px;
		background: $color__background-title-type-span;
	}
}
%title-type-mob {
	@extend %title-type;
	margin-bottom: 11px;

	span {
		padding: 0 24px 0 10px;
	}
}

%dropshadow-box {
	background: $color__background-dropshadow-box;
	border: 1px solid $color__border-dropshadow-box;
	@include box-shadow;
}
%dropshadow-reset {
	@include box-shadow( none );
}
%hr-border-bottom {
	border-bottom: 1px $style__border-hr-border-bottom $color__border-hr-border-bottom;
}

%dlbtn {
	@include border-radius(5px);
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: $color__text-dlbtn;
	background-color: $color__background-dlbtn;
	width: 405px;
	padding: 10px;
}
