%clearfix {
	&:after {
		display: table;
		clear: both;
		content: "";
	}
}

%ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

%title-type-1 {
	font-family: 'Oswald';
	font-weight: normal;
	@include fz( 26 );
	line-height: 1;
	color: #535353;
	// mobile
	// margin-bottom: 11px;
	background: image-url('background/back-dot.png');

	&:first-letter {
		color: #e197a0;
	}
	span {
		// mobile
		// padding: 0 24px 0 10px;
		padding-right: 24px;
		background: #fff;
	}
}
%title-type-1-mob {
	@extend %title-type-1;
	margin-bottom: 11px;

	span {
		padding: 0 24px 0 10px;
	}
}

%title-type-2 {
	@include fz( 22 );
	color: #fff;
	margin-bottom: 5px;
	padding: 2px 10px;
	background: #c8cc2e;
}

%dropshadow-01 {
	@include box-shadow( 0 0 10px 0 rgba( 194, 194, 194, .6 ) );
}
%dropshadow-reset {
	@include box-shadow( none );
}

%dlbtn {
	@include border-radius(5px);
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: white;
	background-color: #656565;
	width: 405px;
	padding: 10px;
}
