#header-meta {
	margin-top: 15px;
	padding: 8px 10px;
	background: $color__background-header-meta;
	color: $color__text-header-meta;
	@extend %clearfix;

	a {
		color: $color__text-header-meta;
	}

	.search-form {
		display: inline-block;
		@extend %clearfix;
		float: left;
		padding: 0 13px 0 26px;
		background: $color__background-header-meta-search-foam-box;
		@include border-radius( 13px );
		position: relative;
		.search-field {
			outline: none;
			@include box-sizing( border-box );
			color: $color__text-header-meta;
			border: none;
			background: transparent;
		}
		.search-submit {
			position: absolute;
			top: 4px;
			left: 8px;
			z-index: 10;
			line-height: 1;
			@include fz(17);
			width: 16px;
			height: 16px;
			padding: 0;
			overflow: hidden;
			background: transparent;
			text-shadow: none;
			border: none;
			color: $color__text-header-meta;
		}
	}

	.social-box {
		display: inline-block;
		@extend %clearfix;
		float: right;
		margin-top: 5px;
		p {
			margin: 0;
			float: left;
	
			&.tweet-button {
				margin-right: 23px;
			}
		}
		i {
			@include fz(17);
		}
	}
}

